#header .logo {
  display: inline-block;
  font-size: 18px;
  color: #fff;
  background: url("/images/logo3.png") 0 -39px no-repeat;
  padding: 24px 0 0 117px;
  height: 50px;
  font-weight: 300;
  font-family: "ubuntu", sans-serif;
}
