---
parent: analytics
title: settings
---

# Settings

The available configuration options of the Analytics tracking code.

<%= partial 'partials/toc' %>

## setAccount
The `setAccount` command initializes the tracker object for your Account. This is a required call, in order to set up correctly the tracking code. Usually it is the first call you will do.

##### Data Parameters
<table>
  <thead>
    <th>Value</th>
    <th>Type</th>
    <th>Required</th>
    <th>Description</th>
  </thead>
  <tbody>
    <tr>
      <td>shop_account_id</td>
      <td>String</td>
      <td><strong>Yes</strong></td>
      <td>The unique <em>Shop Account ID</em> that you received from us. (e.g. SA-XXXX-Y)</td>
    </tr>
  </tbody>
</table>
