@charset "utf-8";

// Fonts
//
// Don't get greedy. They come at a cost.
@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400&subset=latin,greek);
@import url(//fonts.googleapis.com/css?family=Ubuntu:300&subset=latin);
@import url(//fonts.googleapis.com/css?family=Ubuntu+Mono:400,700&subset=latin);

// Application Variables
//
// Extend and override Bootstrap variables.
@import 'variables';

// Bootstrap Framework
//
// Load Bootstrap Framework. Unused components are disabled.
@import 'bootstrap';

// Typography
@import 'components/typography';

// Iconic Fonts
@import 'font-awesome';
@import 'components/font-devs';

// Buttons
@import 'components/buttons';

// Lists
@import 'components/lists';

// Containers
//
// Containers for Header, Sidebar, Cover - Teaser,
// Featured items, etc.
@import 'components/containers';

// Navbar
@import 'components/navbar';

// Sidebar
@import 'components/sidebar';

// Back To Top
@import 'components/back-to-top';

// Overlays
@import 'components/overlay';

// TOC
@import 'components/toc';

// Example Code Blocks & Syntax Highlight
@import 'components/example-code';
@import 'syntax_highlight/default';

// Swiftype Search
@import 'components/swiftype';

// Single Pages Styles
@import 'pages/index';
@import 'pages/docs';
@import 'pages/error_page';
@import 'pages/order_stash';
@import 'pages/partner_badge';


// General Helpers & Utilities
// --------------------------------------------------

.element-centered {
  display: table;
  margin-left: auto;
  margin-right: auto;
}

.no-overflow {
  overflow: hidden !important;
}

.collapsible {
  cursor: pointer;

  &:after {
    @extend .fa;
    @extend .fa-append;
    content: $fa-var-minus-square-o;
    color: $gray-light;
  }

  &.collapsed {
    &:after {
      content: $fa-var-plus-square-o;
    }
  }
}


// Iconography
// --------------------------------------------------

.fa {
  &.fa-2x,
  &.fa-3x,
  &.fa-4x,
  &.fa-5x {
    vertical-align: middle;
  }
}

.fa-prepend {
  padding-right: 8px;
}

.fa-append {
  padding-left: 8px;
}


// Tables
// --------------------------------------------------

table {
  @extend .table;
  @extend .table-hover;
  @extend .table-striped;
  @extend .table-bordered;
  @extend .table-condensed;

  thead {
    background-color: darken($app-clr-greyLight, 6%);
  }

  &.mono,
  .mono {
    font-family: $font-family-monospace;
  }
}

// Fix for Firefox buggy fieldsets
// @see http://getbootstrap.com/css/#tables-responsive
@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}


// Forms
// --------------------------------------------------

// Customize input placeholders
::-webkit-input-placeholder {
  color: darken($app-clr-white, 15%) !important;
  font-weight: 200;
}
:-ms-input-placeholder {
  color: darken($app-clr-white, 15%) !important;
  font-weight: 200;
}
::-moz-placeholder {
  color: darken($app-clr-white, 15%) !important;
  font-weight: 200;
}
:-moz-placeholder {
  color: darken($app-clr-white, 15%) !important;
  font-weight: 200;
}


// Dropdowns
// --------------------------------------------------

// Primary Dropdown
.dropdown.dropdown-primary {
  &.open > a,
  &.open > a:hover,
  &.open > a:focus {
    color: $app-clr-white;
    background-color: $brand-primary;
    transition: none;

    i {
      transition: none;
    }
  }

  .dropdown-menu {
    @include box-shadow(0 6px 12px rgba($brand-primary,.175));
    border-color: $brand-primary;
    border-top-width: 3px;
  }

  // Active state
  .dropdown-menu > .active > a {
    color: darken($brand-primary, 6%);
    background-color: transparent;
  }

  .dropdown-menu > li > a {
    &:hover,
    &:focus {
      color: $app-clr-white;
      background-color: $brand-primary;
    }
  }
}


* {
  outline: 0 none;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

body {
  background-color: darken($app-clr-white, 3%);
}

a, i {
  &:hover {
    transition: all, .175s, ease;
  }
}

blockquote {
  @extend .alert;
  @extend .alert-warning;
  font-size: 1em;

  h1, h2, h3, h4, h5, h6 {
    display: block;
    margin-top: 0;
    margin-bottom: 10px;
  }
}

hr {
  margin: 20px 0;
  padding: 0;
  clear: both;
  border-color: darken($app-clr-greyLight, 10%);
}

pre {
  max-height: 520px;
  overflow: auto;
}


// Main Section
// --------------------------------------------------

#main {
  padding: ($app-h-navbar + 20) 40px 30px;

  @media (max-width: $screen-xs-max) {
    padding-left: 10px;
    padding-right: 10px;
  }
}

// Headings :: Permalinks
#main {
  h2, h3, h4 {
    &:hover {
      a.permalink {
        color: rgba($app-clr-grey, 1);
        @include transition(all ease-in-out .25s);
      }
    }
  }

  a.permalink {
    font-size: 18px;
    color: rgba($app-clr-grey, 0);
    vertical-align: middle;
    cursor: pointer;
    @include transition(all ease-in-out .125s);

    &:before {
      @extend .fa;
      @extend .fa-append;

      content: $fa-var-link;
    }
  }
}


// Alerts
// --------------------------------------------------

.alert {
  h1, h2, h3, h4, h5, h6 {
    display: block;
    margin-top: 0;
    margin-bottom: 10px;
  }
}


// Locale Menu
// --------------------------------------------------

.nav-lang {
  .lang-code {
    display: none;
  }
}
