@charset "utf-8";


//== Fonts
//
//## External fonts. Don't get greedy. They come at a cost.

@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,700&subset=latin);
@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700&subset=latin);

//== Application Variables
//
//## Extend and override Bootstrap variables.

@import 'variables';


//== Bootstrap Framework
//
//## Load Bootstrap Framework. Heads up: Unused components are commented out.

@import 'bootstrap';


//== Icon Fonts
//
//## Alternative Icon Font

@import 'font-awesome';   // Comment out Bootstrap glyphicons
@import 'font-devs';


//== Helpers & Utilities
//
//## General helpers and utilities

* {
  outline: 0 none;

  text-rendering: geometricPrecision;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;

  &:hover {
    transition: all 0.2s ease-out;
  }
}

.element-centered {
  display: table;
  margin-left: auto;
  margin-right: auto;
}

.no-overflow {
  overflow: hidden !important;
}

//== Back To Top
//
//##

#back-to-top {
  display: none;
  position: fixed;
  right: 1px;
  bottom: 2px; //$app-h-footer + (2 * $padding-base-horizontal);
  z-index: $zindex-modal-background;
  padding: 10px 10px;
  color: $app-clr-greyDark;
  border-radius: 0;
  //@include opacity(.4);
  //@include transition(opacity ease-out .35s);

  i {
    font-size: 18px;
  }

  &:hover {
    color: $brand-primary;
    border-color: $brand-primary;
    //@include opacity(1.0);
    @include transition(all ease-in-out .125s);
  }

  @media (max-width: $screen-xs-max) {
    width: 100%;
    left: 0;
    bottom: -1px;
    text-align: center;
    @include gradient-vertical(rgba($app-clr-white, 0.0), rgba($app-clr-white, 1.0), 0, 85%);

    &:hover {
      border-color: transparent;
    }
  }
}


//== Buttons
//
//## Extend Bootstrap Buttons

@mixin button-variant-inverse($color, $background, $border) {
  color: $color;
  background-color: $background;
  border-color: $border;

  &:hover,
  &:focus,
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    color: $background;
    background-color: $color;
    border-color: darken($border, 12%);
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    background-image: none;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &:active,
    &.active {
      background-color: $color;
      border-color: $border;
    }
  }

  .badge {
    color: $background;
    background-color: $color;
  }
}

.btn-primary-inverse {
  @include button-variant-inverse($brand-primary, $btn-default-bg, $brand-primary);

  &:hover {

  }
}

.btn-xlg {
  // line-height: ensure even-numbered height of button next to large input
  @include button-size($padding-large-vertical + 5, $padding-large-horizontal + 20, $font-size-xlarge, $line-height-xlarge, $border-radius-base);
}


//== Icons
//
//## Extend icon helpers

.fa {
  &.fa-2x,
  &.fa-3x,
  &.fa-4x,
  &.fa-5x {
    vertical-align: middle;
  }
}

.fa-prepend {
  padding-right: 8px;
}

.fa-append {
  padding-left: 8px;
}


//== Containers
//
//## Extend Bootstrap Containers

//** Cover Container
.container-cover {
  padding: 30px 0;

  .title {
    font-weight: 300;
    font-size: 2.5em;
    line-height: 1.5em;
    border: 0 none;

    @media (max-width: $screen-sm-max) {
      margin-top: 0;
      font-size: 2.0em;
      line-height: 1.33em;
    }
  }

  .btn {
    margin-top: 20px;
    padding-left: 60px;
    padding-right: 60px;

    @media (max-width: $screen-sm-max) {
      display: block;
      margin:20px auto 40px;
    }
  }

  &.cover-light {
    color: $app-clr-greyDark;
    background-image: image-url('pattern_light.jpg');
  }

  &.cover-dark {
    color: $app-clr-white;
    background-image: image-url('pattern_dark.jpg');
  }
}

//** Featured List Container
.container-featured {
  margin-bottom: 20px;
  border-top: 3px solid lighten($app-clr-grey, 21%);
  border-bottom: 3px solid lighten($app-clr-grey, 21%);

  a {
    display: block;
    font-weight: 300;
    color: $app-clr-greyDark;

    i {
      @extend .fa;
      @extend .fa-3x;
      @extend .fa-fw;
      @extend .fa-prepend;
      line-height: 2.0em;
      color: $app-clr-grey;
    }

    &:hover {
      color: $brand-primary;
      text-decoration: none;

      i {
        color: $brand-primary;
      }
    }
  }

  @media (max-width: $screen-sm-max) {
    padding: 5px 0;
    a {

      i {
        font-size: 1.5em;
      }
    }
  }
}

//** Sidebar Container
.container-sidebar {
//  width: 85%;
//  float: right;
  padding: 10px 15px;

//  @media (max-width: $screen-sm-max) {
//    width: 100%;
//    float: none;
//  }
}


//== Forms
//
//## Extend Bootstrap Forms

//** Customize input placeholders
::-webkit-input-placeholder {
  color: darken($app-clr-white, 15%) !important;
  font-weight: 200;
}
:-ms-input-placeholder {
  color: darken($app-clr-white, 15%) !important;
  font-weight: 200;
}
::-moz-placeholder {
  color: darken($app-clr-white, 15%) !important;
  font-weight: 200;
}
:-moz-placeholder {
  color: darken($app-clr-white, 15%) !important;
  font-weight: 200;
}


//== Navbar
//
//## Extend Bootstrap Navbar

//** Customized Theme
// Default navbar
.navbar-custom {
  @extend .navbar-default;

  background-color: $app-clr-greyDark;
  border-color: $brand-primary;
  border-bottom-width: 3px;

  .navbar-brand {
    color: $app-clr-white;
    font-family: $font-family-monospace;
    font-weight: 500;
    &:hover,
    &:focus {
      color: $app-clr-greyLight;
      background-color: transparent;
    }
  }

  .navbar-text {
    color: $app-clr-white;
  }

  .navbar-nav {
    > li > a {
      color: $app-clr-white;

      &:hover,
      &:focus {
        color: $brand-primary;
        background-color: transparent;
      }
    }
    > .active > a {
      &,
      &:hover,
      &:focus {
        color: darken($brand-primary, 6%);
        background-color: transparent;
      }
    }
    > .disabled > a {
      &,
      &:hover,
      &:focus {
        color: $navbar-default-link-disabled-color;
        background-color: transparent;
      }
    }
  }
}

.navbar {
  &.navbar-fixed-top.navbar-custom.trans {
    background-color: rgba($app-clr-greyDark, .95);
    border-color: rgba($brand-primary, .95);
    @include transition(all ease-in .25s);
  }

  .navbar-toggle {
    background-color: $app-clr-greyDark;
    border-color: $brand-primary;
  }
}

//** Logo
.navbar-header {
  .navbar-brand {
    height: 22px;
    margin-top: 15px;
    margin-left: 15px !important;
    padding: 2px 0 0;
    font-size: 18px;
    line-height: 22px;
    background-position: 0 -60px;
    background-repeat: no-repeat;

    @media (max-width: $screen-xs-max) {
      width: 80%;
      margin-left: 60px !important;
    }
  }
}

//** Search
.navbar-form {
  position: relative;
  margin-left: 30px;

  i {
    position: absolute;
    top: 8px;
    left: 26px;
    font-size: 18px;
    color: darken($app-clr-greyLight, 16%);
  }

  .search {
    width: 260px;
    text-indent: 30px;
    background-color: lighten($navbar-default-bg, 10%);
    border-color: $navbar-default-border;
    border-width: 0;
    border-radius: 16px;

    &:focus {
      background-color: $app-clr-greyLight;
      @include transition(background-color ease-in-out .125s);
    }
  }
}


//== Overlays
//
//##

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgba($app-clr-greyDark, .5);
  z-index: $zindex-modal + 1;

  &.overlay-offcanvas {
    z-index: 998;
  }

  .overlay-content {
    display: inline-block;
    min-width: $screen-xs-min;
    margin-top: 20%;
  }

  // Loading Overlay
  &#loading-overlay {
    display: block;
  }
}


//== Typography
//
//## Extend every around Texts

@mixin text-center () {
  text-align: center;
}

@mixin text-right () {
  text-align: right;
}

@mixin text-left () {
  text-align: left;
}

@mixin title-strong () {
  font-weight: 700;
}

@mixin title-light () {
  font-weight: 300;
}

.text-right {
  text-align: right;
}
.text-center-xs {
  @media (max-width: $screen-xs-max) {
    @include text-center();
  }
}
.text-center-sm {
  @media (max-width: $screen-sm-max) {
    @include text-center();
  }
}
.text-xxs {
  font-size: ceil(($font-size-base * 0.70)); // ~10px
}
.text-xs {
  font-size: ceil(($font-size-base * 0.75)); // ~11px
}
.text-sm {
  font-size: $font-size-small;
}

h1, h2, h3, h4, h5, h6 {
  display: inline-block;
  width: 100%;
  padding-bottom: 5px;
}

h1 {
  @include title-strong();
  margin-bottom: 20px;
  border-bottom: 1px solid darken($app-clr-greyLight, 12%);
}

h2 {
  margin: 45px 0 10px;
  border-bottom: 1px solid darken($app-clr-greyLight, 12%);
}

h3 {
  margin: 25px 0 10px;
}

h4 {
  margin: 20px 0 5px;
  font-weight: 300;
}

h5 {
  @extend .text-uppercase;
  margin: 20px 0 5px;
  font-weight: 700;
}

//== Tables
//
//## Extend tables

table {
  @extend .table;
  @extend .table-hover;
  @extend .table-striped;
  @extend .table-bordered;

  thead {
    background-color: darken($app-clr-greyLight, 6%);
  }

  th,
  td {
    //word-break: break-all;
  }
}

//** Fix for Firefox buggy fieldsets
@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}


////////////////////////////////
// Theme
////////////////////////////////
body {
  font-weight: 300;
  background-color: darken($app-clr-white, 3%);
}

blockquote {
  @extend .alert;
  @extend .alert-warning;
  font-size: 1em;

  h1, h2, h3, h4, h5, h6 {
    display: block;
    margin-top: 0;
    margin-bottom: 10px;
  }
}

hr {
  margin: 20px 0;
  padding: 0;
  clear: both;
  border-color: darken($app-clr-greyLight, 10%);
}

#main {
  padding: $app-h-navbar 40px 30px;

  @media (max-width: $screen-xs-max) {
    padding-left: 10px;
    padding-right: 10px;
  }
}


//== TOC
//
//## Table of Contents


//== Sidebar
//
//## Load sidebar

@import 'sidebar';


//== Syntax Highlight & Code
//
//## Load syntax highlight theme

@import 'syntax_highlight/default';

pre {
  code {
    margin: 0 !important;
  }
}

//** Code Example
.example {
  @extend .panel;
  @extend .panel-default;
  @include border-top-radius($border-radius-base);
  @include border-bottom-radius($border-radius-base);
  position: relative;
  background-color: darken($pre-bg, 4%);

  pre {
    margin: 0;
    border: 0 none;
    border-radius: 0;
  }
}

//** Code Example :: Request
.example {
  .request {
    margin: 0;
    font-family: $font-family-monospace;
    border-bottom: 1px solid $pre-border-color;

    .verb {
      display: inline-block;
      width: 55px;
      padding: 10px;
      text-align: right;
      font-weight: 700;
      border-right: 1px solid $pre-border-color;

      @media (max-width: $screen-xs-max) {
        border-bottom: 1px solid $pre-border-color;
      }
    }

    .path {
      display: inline-block;
      padding: 10px;
      word-wrap: break-word;
      word-break: break-all;
    }
  }
}

//** Code Example :: Request Description
.example {
  .request-description {
    @include box-shadow(0 1px 1px rgba(0,0,0,.05));
    padding: 10px;
    font-style: italic;
    background-color: lighten($pre-bg, 5%);
  }
}

//** Code Example :: Toggle Buttons
.example {
  .toggler {
    @extend .btn;
    @extend .btn-xs;
    @extend .btn-primary;
    position: absolute;
    top: 0;
    right: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    border-width: 0;
  }
}

//** Code Example :: Response
.example {
  .response {
    display: none;

    .headers {
      font-weight: 700;
      background-color: $pre-bg;
      border-top: 1px solid darken($pre-bg, 12%);
      border-bottom: 1px solid darken($pre-bg, 12%);
    }

    pre {
      max-height: 500px;
      overflow: auto;
    }
  }
}


//== Index page
//
//## Index specific

.index {
  #sidebar {
    @media (min-width: $screen-sm-min) {
      display: none;
    }
  }
}

.intro-col-features {
  ul {
    @extend .clearfix;
    @extend .fa-ul;

    li {
      float: left;
      width: 45%;
      margin: 20px 40px 10px 0;
      padding: 0;

      i {
        @extend .fa;
        @extend .fa-li;
      }

      @media (max-width: $screen-sm-max) {
        float: none;
        width: auto;
      }
    }
  }
}

.intro-col-oss {
  margin-top: 40px;

  .btn {
    margin: 30px auto;
  }

  @media (max-width: $screen-sm-max) {
    margin-top: 0;
  }
}
