@charset "utf-8";


//== Fonts
//
//## External fonts. Don't get greedy. They come at a cost.

@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,700&subset=latin);
@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700&subset=latin);

//== Application Variables
//
//## Extend and override Bootstrap variables.

@import 'variables';


//== Bootstrap Framework
//
//## Load Bootstrap Framework. Heads up: Unused components are commented out.

@import 'bootstrap';


//== Icon Fonts
//
//## Alternative Icon Font

@import 'font-awesome';   // Comment out Bootstrap glyphicons
@import 'components/font-devs';


//== Helpers & Utilities
//
//## General helpers and utilities

* {
  outline: 0 none;

  text-rendering: geometricPrecision;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;

  &:hover {
    transition: all 0.2s ease-out;
  }
}

.element-centered {
  display: table;
  margin-left: auto;
  margin-right: auto;
}

.no-overflow {
  overflow: hidden !important;
}


//== Buttons
//
//## Extend Bootstrap Buttons

@mixin button-variant-inverse($color, $color_hover, $background, $border) {
  color: $color;
  background-color: $background;
  border-color: $border;

  &:hover,
  &:focus,
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    color: $color_hover;
    background-color: $color;
    border-color: darken($border, 12%);
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    background-image: none;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &:active,
    &.active {
      background-color: $color;
      border-color: $border;
    }
  }

  .badge {
    color: $background;
    background-color: $color;
  }
}

.btn-primary-inverse {
  @include button-variant-inverse($brand-primary, $app-clr-white, transparent, $brand-primary);
}

.btn-xlg {
  // line-height: ensure even-numbered height of button next to large input
  @include button-size($padding-large-vertical + 5, $padding-large-horizontal + 20, $font-size-xlarge, $line-height-xlarge, $border-radius-base);
}


//== Icons
//
//## Extend icon helpers

.fa {
  &.fa-2x,
  &.fa-3x,
  &.fa-4x,
  &.fa-5x {
    vertical-align: middle;
  }
}

.fa-prepend {
  padding-right: 8px;
}

.fa-append {
  padding-left: 8px;
}


//== Lists
//
//## Style all types of lists

//** Unordered Lists
#main {
  ul {
    margin: 20px auto;
    padding-left: 20px;
    list-style: none;

    li {
      &:before {
        @extend .fa;
        content: $fa-var-caret-right;
        padding-right: 10px;
        color: $app-clr-grey;
      }
    }
  }

  ul ul {
    margin: 5px auto;

    li {
      &:before {
        @extend .fa;
        content: $fa-var-minus;
        position: relative;
        top: -2px;
        font-size: 10px;
        color: $app-clr-grey;
      }
    }
  }
}

//** Definition Lists
dl {
  margin: 20px auto;
  padding-left: 20px;

  dt {

    code {
      font-weight: 500;
    }

    &:before {
      @extend .fa;
      content: $fa-var-caret-right;
      position: relative;
      top: -1px;
      padding-right: 10px;
      font-size: 14px;
      color: $app-clr-grey;
    }
  }

  dd {
    margin-bottom: 15px;
    padding-left: 15px;
  }
}


//== Containers
//
//## Extend Bootstrap Containers

//** Header Container
.container-header {
  @extend .container-fluid;
}

//** Cover Container
.container-cover {
  padding: 30px 0;

  .title {
    font-weight: 300;
    font-size: 2.5em;
    line-height: 1.5em;
    border: 0 none;

    @media (max-width: $screen-sm-max) {
      margin-top: 0;
      font-size: 2.0em;
      line-height: 1.33em;
    }
  }

  .btn {
    margin-top: 20px;
    padding-left: 60px;
    padding-right: 60px;

    @media (max-width: $screen-sm-max) {
      display: block;
      margin:20px auto 40px;
    }
  }

  &.cover-light {
    color: $app-clr-greyDark;
    background-image: image-url('pattern_light.jpg');
  }

  &.cover-dark {
    color: $app-clr-white;
    background-image: image-url('pattern_dark.jpg');
  }
}

//** Featured List Container
.container-featured {
  margin-bottom: 20px;
  border-top: 3px solid lighten($app-clr-grey, 21%);
  border-bottom: 3px solid lighten($app-clr-grey, 21%);
  background-color: darken($app-clr-greyLight, 6%);

  a {
    display: block;
    padding: 15px 0;
    font-weight: 300;
    color: $app-clr-greyDark;

    i {
      @extend .fa;
      @extend .fa-3x;
      display: block;
      line-height: 1.5em;
      color: darken($app-clr-grey, 18%);
    }

    &:hover {
      color: $brand-primary;
      text-decoration: none;

      i {
        color: $brand-primary;
      }
    }
  }

  @media (max-width: $screen-sm-max) {
    padding: 5px 0;
    a {

      i {
        font-size: 1.5em;
      }
    }
  }
}

//** Sidebar Container
.container-sidebar {
//  width: 85%;
//  float: right;
  padding: 10px 15px;

//  @media (max-width: $screen-sm-max) {
//    width: 100%;
//    float: none;
//  }
}


//== Forms
//
//## Extend Bootstrap Forms

//** Customize input placeholders
::-webkit-input-placeholder {
  color: darken($app-clr-white, 15%) !important;
  font-weight: 200;
}
:-ms-input-placeholder {
  color: darken($app-clr-white, 15%) !important;
  font-weight: 200;
}
::-moz-placeholder {
  color: darken($app-clr-white, 15%) !important;
  font-weight: 200;
}
:-moz-placeholder {
  color: darken($app-clr-white, 15%) !important;
  font-weight: 200;
}


//== Navbar
//
//## Extend Bootstrap Navbar

//** Customized Theme
// Default navbar
.navbar-custom {
  @extend .navbar-default;

  background-color: $app-clr-greyDark;
  border-color: $brand-primary;
  border-bottom-width: 3px;

  .navbar-brand {
    color: $app-clr-white;
    font-family: $font-family-monospace;
    font-weight: 500;
    &:hover,
    &:focus {
      color: $app-clr-greyLight;
      background-color: transparent;
    }
  }

  .navbar-text {
    color: $app-clr-white;
  }

  .navbar-nav {
    > li > a {
      color: $app-clr-white;

      &:hover,
      &:focus {
        color: $brand-primary;
        background-color: transparent;
      }
    }
    > .active > a {
      &,
      &:hover,
      &:focus {
        color: darken($brand-primary, 6%);
        background-color: transparent;
      }
    }
    > .disabled > a {
      &,
      &:hover,
      &:focus {
        color: $navbar-default-link-disabled-color;
        background-color: transparent;
      }
    }
  }
}

.navbar {
  &.navbar-fixed-top.navbar-custom.trans {
    background-color: rgba($app-clr-greyDark, .95);
    border-color: rgba($brand-primary, .95);
    @include transition(all ease-in .25s);
  }

  .navbar-toggle {
    background-color: $app-clr-greyDark;
    border-color: $brand-primary;
  }
}

//** Logo
.navbar-header {
  .navbar-brand {
    height: 22px;
    margin-top: 15px;
    margin-left: 15px !important;
    padding: 2px 0 0;
    font-size: 18px;
    line-height: 22px;
    background-position: 0 -60px;
    background-repeat: no-repeat;
    background-size: 110px 81px;

    @media (max-width: $screen-xs-max) {
      width: 80%;
      margin-left: 60px !important;
    }
  }
}

//** Search
.navbar-form {
  position: relative;
  margin-left: 30px;

  i {
    position: absolute;
    top: 8px;
    left: 26px;
    font-size: 18px;
    color: darken($app-clr-greyLight, 16%);
  }

  .search {
    width: 260px;
    text-indent: 30px;
    background-color: lighten($navbar-default-bg, 10%);
    border-color: $navbar-default-border;
    border-width: 0;
    border-radius: 16px;

    &:focus {
      background-color: $app-clr-greyLight;
      @include transition(background-color ease-in-out .125s);
    }
  }
}


//== Typography
//
//## Extend every around Texts

@mixin text-center () {
  text-align: center;
}

@mixin text-right () {
  text-align: right;
}

@mixin text-left () {
  text-align: left;
}

@mixin title-strong () {
  font-weight: 700;
}

@mixin title-light () {
  font-weight: 300;
}

.text-right {
  text-align: right;
}
.text-center-xs {
  @media (max-width: $screen-xs-max) {
    @include text-center();
  }
}
.text-center-sm {
  @media (max-width: $screen-sm-max) {
    @include text-center();
  }
}
.text-xxs {
  font-size: ceil(($font-size-base * 0.70)); // ~10px
}
.text-xs {
  font-size: ceil(($font-size-base * 0.75)); // ~11px
}
.text-sm {
  font-size: $font-size-small;
}

h1, h2, h3, h4, h5, h6 {
  display: inline-block;
  width: 100%;
  padding-bottom: 5px;
}

h1 {
  @include title-strong();
  margin-bottom: 20px;
  border-bottom: 1px solid darken($app-clr-greyLight, 12%);
}

h2 {
  margin: 45px 0 10px;
  border-bottom: 1px solid darken($app-clr-greyLight, 12%);
}

h3 {
  margin: 25px 0 10px;
}

h4 {
  margin: 20px 0 5px;
  font-weight: 300;
}

h5 {
  @extend .text-uppercase;
  margin: 20px 0 5px;
  font-weight: 700;
}

//== Tables
//
//## Extend tables

table {
  @extend .table;
  @extend .table-hover;
  @extend .table-striped;
  @extend .table-bordered;

  thead {
    background-color: darken($app-clr-greyLight, 6%);
  }

  th,
  td {
    //word-break: break-all;
  }
}

//** Fix for Firefox buggy fieldsets
@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}


////////////////////////////////
// Theme
////////////////////////////////
body {
  font-weight: 300;
  background-color: darken($app-clr-white, 3%);
}

blockquote {
  @extend .alert;
  @extend .alert-warning;
  font-size: 1em;

  h1, h2, h3, h4, h5, h6 {
    display: block;
    margin-top: 0;
    margin-bottom: 10px;
  }
}

hr {
  margin: 20px 0;
  padding: 0;
  clear: both;
  border-color: darken($app-clr-greyLight, 10%);
}

pre {
  max-height: 520px;
  overflow: auto;
}

.alert {
  h1, h2, h3, h4, h5, h6 {
    display: block;
    margin-top: 0;
    margin-bottom: 10px;
  }
}

#main {
  padding: $app-h-navbar 40px 30px;

  @media (max-width: $screen-xs-max) {
    padding-left: 10px;
    padding-right: 10px;
  }
}


//== TOC
//
//## Table of Contents


//== Sidebar
//
//## Load sidebar

@import 'components/sidebar';


//== Back To Top
//
//##

@import 'components/back-to-top';


//== Overlays
//
//##

@import 'components/overlay';


//== TOC
//
//## Table of Contents

@import 'components/toc';


//== Example Code Blocks & Syntax Highlight
//
//## Load example code and highlight theme

@import 'components/example-code';
@import 'syntax_highlight/default';


//== Docs List
//
//## Docs specific

@import 'components/panel-doc';


//== Pages
//
//## Page specific styles

//** Index
@import 'pages/index';
