// Error Pages
// --------------------------------------------------


.error-page {
  .container-header {
    @extend .container;
  }
}

// TODO: Move this to components/containers
.container-error {
  @extend .text-center;
  padding: 0 15px;
  
  .error-brand {
    width: 160px;
    height: 160px;
    margin: 0 auto;
    background: image-url('logo.png') center center no-repeat;
  }

  .error-code {
    @include title-light;

    width: auto;
    margin-bottom: 30px;
    padding: 0 5px;
    font-size: 4.0em;
    border-bottom: 4px solid $brand-primary;
  }

  .error-message {
    margin-bottom: 40px;
  }
}
