// Index Page
// --------------------------------------------------


.index {
  .container-header {
    @extend .container;
  }
}

// Features - Advantages list
.intro-col-features {
  ul {
    @extend .clearfix;
    @extend .fa-ul;

    li {
      float: left;
      width: 40%;
      height: 2.0em;
      margin: 20px 7% 40px 0;
      padding: 0;
      line-height: 1.6;

      &:before {
        content: none !important;
        padding-right: 0;
      }

      i {
        @extend .fa;
        @extend .fa-li;

        margin-top: 3px;
      }

      @media (max-width: $screen-sm-max) {
        float: none;
        width: auto;
      }
    }
  }
}

// Open Source Software teaser
.intro-col-oss {
  margin-top: 55px;

  p {
    font-size: .95em;
    line-height: 1.7;
  }

  .btn {
    margin: 30px auto;
    padding: 10px 0;
  }

  @media (max-width: $screen-sm-max) {
    margin-top: 0;
  }
}
