@import "colors";

body {
  font-family: 'Verdana', sans-serif;
  background: $grey-1;
}

p {
  color: $grey-10;
  font-size: 14px;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

a {
  color: $orange-1;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.content {
  max-width: 1180px;
  width: 98%;
  margin: 0 auto;

  a.logo {
    float: left;

    &:before {
      top: 1px;
    }
  }
}

.cf {
  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
    &.unstyled {
      color: $grey-10;
      text-decoration: none;
      &.header {
        color: $grey-1;
        float: left;
      }
    }
  }
}

ol {
  list-style-position: inside;
}

dl {
  font-size: 13px;

  dt:after {
    content: ":";
  }

  dd {
    padding-left: 20px;
    margin-bottom: 15px;
  }
}

#wrapper {
  max-width: 1180px;
}

.cf {

  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }
}

#main {
  background: #363636;
  background: -moz-linear-gradient(left,  #363636 0%, #363636 24%, #f9f9f9 24%, #f9f9f9 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#363636), color-stop(24%,#363636), color-stop(24%,#f9f9f9), color-stop(100%,#f9f9f9));
  background: -webkit-linear-gradient(left,  #363636 0%,#363636 24%,#f9f9f9 24%,#f9f9f9 100%);
  background: -o-linear-gradient(left,  #363636 0%,#363636 24%,#f9f9f9 24%,#f9f9f9 100%);
  background: -ms-linear-gradient(left,  #363636 0%,#363636 24%,#f9f9f9 24%,#f9f9f9 100%);
  background: linear-gradient(to right,  #363636 0%,#363636 24%,#f9f9f9 24%,#f9f9f9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#363636', endColorstr='#f9f9f9',GradientType=1 );

  & > .content {
    overflow: hidden;
    min-height: 1430px;
  }
}

.button {
  background: $orange-1;
  border-radius: 3px;
  padding: 8px 15px;
  color: $white;
  text-decoration: none;

  &:hover {
    background: $orange-2;
    color: $white;
    text-decoration: none;
  }
}

header {
  position: relative;
  padding-top: 13px;
  height: 37px;
  background: $grey-9;
  box-shadow: 0px 2px 4px 0 $grey-10;
  color: $white;

  a {
    color: $grey-1;
    text-decoration: none;
    position: relative;
    padding-left: 120px;
    line-height: 29px;
    font-family: 'ubuntu', sans-serif;
    font-weight: 300;
    font-size: 18px;
    height: 29px;

    &:hover,
    a:visited {
      text-decoration: none;
      color: $grey-1;
    }

    &:before {
      content: "";
      position: absolute;
      top: -2px;
      left: 0;
      width: 109px;
      height: 22px;
      background: url(../../images/logo3.png) no-repeat 0 -59px;
    }
  }
}

/* General styles */

#right_container {
  float: left;
  padding: 40px 0 80px;
  width: 100%;
  color: $grey-9;

  .container {
    margin-left: 300px;
  }

  // HEADINGS

  h1 {
    font-size: 24px;
    margin-bottom: 40px;
  }

  h2 {
    font-size: 20px;
    color: $black;
    padding-bottom: 8px;
    border-bottom: 1px solid #cdcdcd;
    margin: 40px 0;
  }

  h3 {
    font-size: 16px;
    margin: 20px 0;
    color: $black;
  }

  // EMPHASIZED LINK

  .emph-link {
    display: inline-block;
    color: #282828;
    margin: 15px 0 0;
    border-bottom: 1px dotted #666;

    &:hover {
      text-decoration: none;
      border-bottom-style: solid;
    }
  }

  // BLOCKQUOTES

  blockquote {
    margin: 20px auto;
    padding: 10px;
    background-color: $grey-3;
    border-left: 10px solid $grey-6;
  }

  // LISTS

  ul {
    list-style-position: inside;
    font-size: 14px;
    margin-top: 10px;

    li {
      margin-bottom: 3px;
    }
  }

  // TABLE

  table {
    font-size: 13px;
    width: 100%;
    margin: 20px auto;
    background: #fff;
    -moz-box-shadow: 1px 1px 3px #ebebec, -1px -1px 3px #ebebec;
    -webkit-box-shadow: 1px 1px 3px #ebebec, -1px -1px 3px #ebebec;
    -o-box-shadow: 1px 1px 3px #ebebec, -1px -1px 3px #ebebec;
    box-shadow: 1px 1px 3px #ebebec, -1px -1px 3px #ebebec;

    thead {
      background: #fbfbfb;
    }

    tr {
      td,
      th {
        border: 1px solid #dbdbdb;
        padding: 8px 15px;
      }

      th {
        font-size: 15px;
        padding: 15px;
      }
    }

    code {
      font-size: 13px;
    }
  }

  // LOCAL NAVIGATION

  #markdown-toc {
    display: inline-block;
    list-style: none;
    margin: 20px 15px;

    li {
      font-size: 13px;
      padding: 0 0 7px 0;
      position: relative;

      &:last-child {
        padding-bottom: 0;
      }

      a {
        color: $grey-9;
        position: relative;
        padding-left: 15px;

        &:before {
          content: "\25B8";
          position: absolute;
          top: 0;
          left: 0;
          color: $grey-9;
        }

        &:hover {
          color: $orange-1;
          text-decoration: none;

          &:before {
            color: $orange-1;
          }
        }
      }
    }
  }

  // CODE

  code {
    font: 14px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
  }

  .example {
    position: relative;
    border: 1px solid #dbdbdb;
    background: #fff;
    overflow: hidden;

    .request {
      border-radius: 3px;
      border-bottom: 1px dotted #dbdbdb;
      overflow: hidden;

      .verb {
        width: 10%;
        float: left;
        padding: 15px 30px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border-right: 1px dotted #dbdbdb;
      }

      .path {
        float: left;
        width: 90%;
        padding: 15px 30px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
      }
    }

    .toggler {
      float: right;
      font-size: 13px;
      background: #f68b24;
      color: #fff;
      padding: 8px 10px;
      margin: 10px 15px;
      border-radius: 3px;

      &:hover {
        background: #d8731c;
        text-decoration: none;
      }

      &.hide {
        display: none;
      }
    }

    pre.headers {
      padding: 0;
      background: #f9f9f9;
      padding: 10px 20px;
      border-top: 1px solid #f0f0f0;
      border-bottom: 1px solid #f0f0f0;

      code {
        font-family: 'verdana', sans-serif;
        color: #363636;
      }
    }

    .response {
      display: none;
      padding-top: 55px;
    }

    &.active {
      .response {
        display: block;
      }

      .toggler {

        &.hide {
          display: block;
        }

        &.show {
          display: none;
        }
      }
    }
  }
}

small {
  display: block;
  font-size: 13px;
  margin-bottom: 30px;
}

// SEARCH

.search {
  float: right;
}

#st-search-input {
  width: 200px;
  background: $grey-3;
  outline: none;
  border: none;
  padding: 8px 5px;
  border-radius: 3px;
  margin-top: -2px;
}

.swiftype-widget .autocomplete {
  margin-top: 10px !important;
  margin-left: 8px !important;
}

/* Sidebar */

nav {
  font-family: "ubuntu", sans-serif;

  a {
    font-size: 14px;
    font-weight: 300;
    text-decoration: none;
    padding: 10px 10px 12px 30px;
    display: block;

    &:hover {
      color: $white;
      background: $orange-1;
      -o-transition: all, .2s, ease;
      -webkit-transition: all, .2s, ease;
      -moz-transition: all, .2s, ease;
      transition: all, .2s, ease;
      text-decoration: none;
    }
  }

  > h3 {
    margin: 25px 0 15px;
    color: $grey-7;

    a {
      -webkit-box-shadow: 2px 2px 2px 0px #282828;
      -moz-box-shadow: 2px 2px 2px 0px #282828;
      -o-box-shadow: 2px 2px 2px 0px #282828;
      box-shadow: 2px 2px 2px 0px #282828;
      border-top: 1px solid $grey-9;
      border-left: 1px solid $grey-9;
      border-radius: 3px;
      color: $grey-1;
      background: #3d3d3d;

      &:hover {
        color: $grey-1;
      }

      &.active {
        color: $orange-1;

        &:hover {
          color: $white;
        }
      }
    }
  }

  h2 {
    position: relative;
    padding-left: 30px;
    color: $grey-7;
    margin: 25px 0 15px;
    font-size: 13px;

    &:before {
      content: "";
      position: absolute;
      top: 1px;
      left: 5px;
    }

    &.guides:before {
      width: 14px;
      height: 14px;
      background: image-url('sprite.png') 0 0;
    }

    &.manual:before {
      width: 16px;
      height: 13px;
      background: image-url('sprite.png') -20px -1px;
    }
  }

  ul {
    box-shadow: 2px 2px 2px 0px $black;
    -moz-box-shadow: 2px 2px 2px 0px $black;
    -webkit-box-shadow: 2px 2px 2px 0px $black;
    border-top: 1px solid $grey-9;
    border-left: 1px solid $grey-9;
    border-radius: 3px;

    li {

      h3 {
        border-top: 1px solid $grey-9;
      }

      &:first-child h3 {
        border-top: none;
      }

      a {
        background: #3d3d3d;
        color: $grey-5;

        &.active {
          color: $orange-1;

          &:hover {
            color: $white;
          }
        }
      }

      &:first-child h3 a {
        border-radius: 3px 3px 0 0;
      }

      &:last-child h3 a {
        border-radius: 0 0 3px 3px;
      }

      > ul {
        background: #434343;
        box-shadow: inset 0px 1px 1px 0px $grey-10,
                    inset 0px -1px 1px 0 $grey-10;
        -moz-box-shadow: inset 0px 1px 1px 0px $grey-10,
                         inset 0px -1px 1px 0 $grey-10;;
        -webkit-box-shadow: inset 0px 1px 1px 0px $grey-10,
                            inset 0px -1px 1px 0 $grey-10;;

        li {
          padding: 12px 20px 0;

          &:last-child {
            padding-bottom: 12px;
          }

          a {
            background: inherit;

            &:hover {
              background: inherit;
              color: $orange-1;
            }
          }
        }
      }
    }
  }
}

.sidebar-shell {
  background: $grey-10;
  width: 220px;
  float: left;
  margin-bottom: -19980px;
  margin-left: -100%;
  padding: 25px 20px 20000px;
  height: 100%;
  color: $white;

  .container {
    margin-left: 338px;
    padding: 20px;
  }

  ul {
    list-style-type: none;

    li {

    }
  }
}

footer {
  margin-top: 50px;

  p {
    position: relative;
    color: $grey-6;
    font-size: 13px;
    margin-bottom: 20px;
    padding: 20px 0;

    a {
      text-decoration: none;
    }

    &:before,
    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      background: #616161;
    }

    &:before {
      top: 0;
      left: 0;
    }

    &:after {
      bottom: 0;
      right: 0;
    }
  }
}

/* Terminal */

pre.terminal {
  background: $grey-10;
  color: $white;
  font-size: 13px;
  line-height: 1.7;
  margin: 30px 0;
}

.highlight {
  background: #ffffff;
  box-shadow: inset 1px 1px 3px rgba(0,0,0,0.1);
  border-radius: 5px;
  margin-bottom: 20px;
  border: 1px solid rgba(128, 128, 128, 0.1);
  margin-top: 15px;
}

pre {
  margin: 15px auto 20px;
  border: 1px solid #cacaca;
  padding: 10px;
  overflow: auto;
  border-radius: 3px;
  background-color: #fafafb;
  color: #393939;
  box-shadow: inset 1px 1px 3px rgba(0,0,0,0.1);

  .highlight {
    background: transparent;
    box-shadow: 0 0 0 transparent;
    border-radius: 0;
    margin-bottom: 20px;
    border: 0 none;
    margin-top: 15px;
  }
}

.request-description {
  display: none;
}

/* Guides */

.classroom {
  display: block;
  margin: 0 auto;
}

/* Help */

#help {
  ol li {
    margin-bottom: 20px;
  }

  .question {

  }

  .answer {
    color: $grey-8;
    padding-left: 22px;
    font-size: 13px;
  }
}
