<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Content-Language" content="en-us" />
    <meta http-equiv="imagetoolbar" content="false" />
    <meta name="MSSmartTagsPreventParsing" content="true" />
    <title>Skroutz API</title>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400' rel='stylesheet' type='text/css'>
    <link href="<%= relative_path_to('/css/reset.css') %>" rel="stylesheet" type="text/css" />
    <link href="<%= relative_path_to('/assets/stylesheets/platform.css') %>" media="screen" rel="stylesheet" type="text/css">
  </head>
  <body>

  <header>
    <div class="content">
      <h1>for Developers</h1>
    </div>
  </header>

  <div id="pattern">
    <div class="content">
      <h2>Create apps that work across platforms and reach over 1 billion people</h2>
      <a href="/v3/" class="button">Browse the documentation</a>
    </div>
  </div>

  <div id="main" class="content cf">
    <div class="col first">
      <h3>Developing apps</h3>
      <p>Want to develop a Shopify app? Check out our comprehensive API, and use our
        tutorials to learn how to build an app and submit it to the Shopify App Store.</p>
    </div>

    <div class="col second">
      <h3>Skroutz API Manual</h3>
      <p>Want to develop a Shopify app? Check out our comprehensive API, and use our
        tutorials to learn how to build an app and submit it to the Shopify App Store.</p>
    </div>

    <div class="col third">
      <h3>Are you stuck?</h3>
      <p>Shopify POS bridges the gap between offline and online retail. With Shopify POS,
        manage your customers, inventory and accept in-store payments using the Shopify platform.</p>
    </div>
  </div>

  <footer>
    <div class="content cf">
      <a href="#">F.A.Q - Terms of Service</a>
      <p>Design © 2013 Skroutz S.A, Inc. All rights reserved. <br />
  Except where otherwise noted, content on this site is licensed under a Creative Commons CC-BY license.</p>
    </div>
  </footer>
  </body>
</html>
