---
title: Help
---

# Frequently asked questions

1. How to i obtain OAuth credentials?

<p>Send <a href="mailto:api@<%= flavor_data.domain %>">us</a> an email</p>

2. How do i access X resource?

Read our <%= link_to 'API documentation', '/api/v3' %>
thoroughly, if you can't find what you wan't it may be due to missing documentation or it may something we've decided not to expose.

3. I found i typo in the documentation what do i do?
This website is a [public Github repository](https://github.com/skroutz/developer.skroutz.gr). Fix it and submit a pull request.
