---
parent: easy
title: implementation
---

# Implementation Examples <%= render_edit_link %>

<%= partial 'partials/toc' %>

## Ruby on Rails 3

A fully working example in [Ruby on Rails](http://rubyonrails.org) 3 can be
found at [http://github.com/skroutz/oauth2-rails-demo](http://github.com/skroutz/oauth2-rails-demo)

## osCommerce 2.3

A fully working example for [osCommerce](http://www.oscommerce.com) 2.3 can be
found at [http://github.com/skroutz/oauth2-oscommerce-module](http://github.com/skroutz/oauth2-oscommerce-module)

## Joomla! 1.5, 1.6, 2.5 with VirtueMart 1.1.9 or 2.0

A fully working example for [Joomla!](http://www.joomla.org) 1.5, 1.6, 2.5 with [VirtueMart](http://virtuemart.net)
1.1.9 or 2.0 can be found at GitHub. The example consists of a [Module](http://docs.joomla.org/Module),
a [Component](http://docs.joomla.org/Component) and a [Plugin](http://docs.joomla.org/Plugin).
You can find them at:

 1. Module: [http://github.com/skroutz/oauth2-joomla-module](http://github.com/skroutz/oauth2-joomla-module)
 2. Component: [http://github.com/skroutz/oauth2-joomla-component](http://github.com/skroutz/oauth2-joomla-component)
 3. Plugin: [http://github.com/skroutz/oauth2-joomla-plugin](http://github.com/skroutz/oauth2-joomla-plugin)

To simply add them to Joomla!, download the following zip files and install them
through the Administration Panel of Joomla!. If you don't know how to install
plugins and modules to Joomla!, follow the instructions of each project.

 1. Module: [mod_skroutzeasy.zip](https://github.com/skroutz/oauth2-joomla-module/releases/latest)
 2. Component: [com_skroutzeasy.zip](https://github.com/skroutz/oauth2-joomla-component/releases/latest)
 3. Plugin: [plg_skroutzeasy.zip](https://github.com/skroutz/oauth2-joomla-plugin/releases/latest)

<blockquote>
  <h5>NOTE:</h5>
  <p>
    The Joomla Development Team <strong>no longer provides support for Joomla 1.5</strong>
    since April 2012. Also the VirtueMart Team, with the end of Joomla 1.5, has
    withdrawn support from VirtueMart 1.1 (last version was 1.1.9).
  </p>
  <br/>
  <p>
    Although this plugin works with Joomla 1.5 and VirtueMart 1.1.9 we urge you to
    upgrade / migrate your installation to Joomla 2.5 and VirtueMart 2.0 in order to
    experience performance benefits, gain from the use of new features, while
    protecting your site from potential (undiscovered) security vulnerabilities.
  </p>
  <br/>
  <p>
    While this plugin works with VirtueMart 1.1.9, support for this version of
    VirtueMart is limited.
  </p>
  <br/>
  <p>
    You can find more info about
    <a href="http://forum.virtuemart.net/index.php?topic=109098.0Multi">
      VirtueMart support on the VirtueMart forum
    </a>.
  </p>
</blockquote>

## VB.NET, C# and ASP.NET

Unfortunately, we don't have a working example for VB.NET or C#. Meanwhile, you
can visit the open source library [DotNetOpenAuth](http://www.dotnetopenauth.net/)
that implements an OAuth 2.0 client for .Net Framework projects.
