<footer>
  <div class="container text-xs">
    <div class="row">

      <div class="col-xs-12 col-sm-6 col-sm-push-6 text-right text-center-xs">
        <span>&copy; 20[0-9]{2} <%= settings.full_company_name %></span>
        <span>"All Rights and Lefts reserved."</span>
      </div>

      <div class="col-xs-12 col-sm-6 col-sm-pull-6 text-center-xs">
        <%= link_to "Terms of Service", "http://#{settings.domain}/faq",
        target: "_blank" %> -
        <%= link_to settings.domain.capitalize,
            "https://www.#{settings.domain}",
            title: settings.domain.capitalize, target: "_blank" %>
      </div>

    </div>
  </div>
</footer>
