<footer>
  <p>
    &copy; 20[0-9]{2} <%= data[flavor].company.name %> All Rights and Lefts reserved.
    <br />
    <%= link_to 'Terms of Service', data[flavor].url.legal %>
  </p>

  <%= partial 'partials/swiftype' %>
  <%= partial 'partials/analytics' %>
</footer>
