<header>
  <div class="content">
    <%= link_to 'for Developers [beta]', '/', class: :logo %>
    <form class="search">
        <input type="text" id="st-search-input" placeholder="Search"/>
    </form>
  </div>
</header>
