<header>
  <nav class="navbar navbar-custom navbar-fixed-top" role="navigation" data-ui-scope="navbar">
    <div class="container-header">

        <%# Nav Brand %>
        <div class="navbar-header">
          <%# Collapse Button %>
          <a class="offcanvas-toggle btn btn-link visible-xs" type="button" data-ui-scope="offCanvasBtn">
            <i class="fa-bars"></i>
          </a>

          <%# Logo %>
          <%= link_to "Internal API documentation", '/', class: 'navbar-brand logo' %>
        </div>

        <%# Nav Links %>
        <div class="navbar-collapse collapse">
          <%# Swiftype %>
          <%= partial 'partials/swiftype' %>

        </div>

    </div>
  </nav>
</header>
