<% if localized?(current_page) %>
  <div class="alert alert-info">
    <p>
      <span><%= t('common.available_locales') %></span>
      <%= bs_text(locale_links(current_page), 'nav-lang nav-lang-inline') %>
    </p>
  </div>
<% end %>
