<div data-ui-scope="swiftypeNavbar">
  <form class="navbar-form navbar-right search" data-ui-scope="swiftypeSearch">
    <input id="st-search-input" class="form-control st-search" type="text" placeholder="<%= t('header.search') %>">
  </form>
</div>
