@import "colors";

body {
  font-family: 'Verdana', sans-serif;
  background: $grey-1;
}

p {
  color: $grey-10;
  font-size: 13px;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

a {
  color: $orange-1;

  &:hover {
    text-decoration: underline;
  }

  &.unstyled {
    color: $grey-10;
    text-decoration: none;
    &.header {
      color: $grey-1;
      float: left;
    }
  }
}

.search {
  float: right;
}

.content {
  max-width: 1180px;
  width: 98%;
  margin: 0 auto;
}

.cf {
  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }
}

.button {
  background: $orange-1;
  border-radius: 3px;
  padding: 8px 15px;
  color: $white;
  text-decoration: none;

  &:hover {
    background: $orange-2;
    color: $white;
    text-decoration: none;
  }
}

header {
  position: relative;
  padding-top: 13px;
  height: 37px;
  background: $grey-9;
  box-shadow: 0px 2px 4px 0 $grey-10;
  color: $white;

  a {
    color: $grey-1;
    text-decoration: none;
    position: relative;
    padding-left: 120px;
    line-height: 29px;
    font-family: 'ubuntu', sans-serif;
    font-weight: 300;
    font-size: 18px;
    height: 29px;

    &:hover,
    a:visited {
      text-decoration: none;
      color: $grey-1;
    }

    &:before {
      content: "";
      position: absolute;
      top: -2px;
      left: 0;
      width: 109px;
      height: 22px;
      background: url(../../images/logo3.png) no-repeat 0 -59px;
    }
  }
}

#pattern {
  padding-top: 80px;
  height: 400px;
  background: url(../../images/pattern.jpg);

  h2 {
    position: relative;
    color: $white;
    font-family: 'ubuntu', sans-serif;
    font-size: 38px;
    font-weight: 300;
    width: 460px;
    line-height: 1.7;

    &:after {
      content: "";
      position: absolute;
      top: -25px;
      right: -580px;
      background: url(../../images/dev.png) no-repeat;
      width: 487px;
      height: 369px;
    }
  }

  .button {
    display: inline-block;
    margin-top: 40px;
    font-size: 22px;
    padding: 20px 30px;
    font-family: 'ubuntu', sans-serif;
    font-weight: 300;
  }
}

#main {

  .col {
    float: left;
    width: 343px;
    margin-right: 50px;
    padding-top: 215px;
    position: relative;

    > a {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 2;
    }

    h3 {
      font-family: 'ubuntu', sans-serif;
      font-weight: 300;
      font-size: 28px;
      text-align: center;
      position: relative;

      &:before {
        content: "";
        position: absolute;
      }
    }

    p {
      font-size: 16px;
      line-height: 1.6;
      margin-top: 35px;
    }

    &.first h3:before {
      width: 171px;
      height: 147px;
      top: -170px;
      left: 85px;
      background: url(../../images/apps.png) no-repeat;
    }

    &.second h3:before {
      width: 205px;
      height: 146px;
      top: -170px;
      left: 85px;
      background: url(../../images/manual.png) no-repeat;
    }

    &.third h3:before {
      width: 75px;
      height: 178px;
      top: -215px;
      left: 142px;
      background: url(../../images/help.png) no-repeat;
    }
  }
}

footer {
  clear: both;
  margin-top: 100px;

  .content {
    border-top: 1px solid $border;
    padding: 30px 0;
  }

  a {
    float: left;
    width: 200px;
    font-size: 12px;
    text-decoration: none;
  }

  p {
    float: right;
    width: 500px;
    text-align: right;
  }
}
