@import "colors";

body {
  font-family: 'Verdana', sans-serif;
  background: $grey-1;
}

p {
  color: $grey-10;
  font-size: 13px;
  line-height: 1.5;
  margin-bottom: 15px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

a {
  color: $orange-1;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &.unstyled {
    text-decoration: none;
  }
}

ol {
  list-style-position: inside;
}

dl {
  font-size: 13px;

  dt:after {
    content: ":";
  }

  dd {
    padding-left: 20px;
    margin-bottom: 15px;
  }
}

.content {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
}

#wrapper {
  max-width: 1180px;
}

.cf {

  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }
}

#main {
  background: #363636;
  background: -moz-linear-gradient(left,  #363636 0%, #363636 30%, #f9f9f9 30%, #f9f9f9 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#363636), color-stop(30%,#363636), color-stop(30%,#f9f9f9), color-stop(100%,#f9f9f9));
  background: -webkit-linear-gradient(left,  #363636 0%,#363636 30%,#f9f9f9 30%,#f9f9f9 100%);
  background: -o-linear-gradient(left,  #363636 0%,#363636 30%,#f9f9f9 30%,#f9f9f9 100%);
  background: -ms-linear-gradient(left,  #363636 0%,#363636 30%,#f9f9f9 30%,#f9f9f9 100%);
  background: linear-gradient(to right,  #363636 0%,#363636 30%,#f9f9f9 30%,#f9f9f9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#363636', endColorstr='#f9f9f9',GradientType=1 );

  & > .content {
    overflow: hidden;
    min-height: 1430px;
  }
}

.button {
  background: $orange-1;
  border-radius: 3px;
  padding: 8px 15px;
  color: $white;
  text-decoration: none;

  &:hover {
    background: $orange-2;
    color: $white;
    text-decoration: none;
  }
}

header {
  position: relative;
  padding-top: 13px;
  height: 37px;
  background: $grey-9;
  box-shadow: 0px 2px 4px 0 $grey-10;
  color: $white;

  h1 {
    position: relative;
    padding-left: 120px;
    line-height: 29px;
    font-family: 'ubuntu', sans-serif;
    font-weight: 300;
    font-size: 18px;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 109px;
      height: 22px;
      background: url(../../images/logo3.png) no-repeat 0 -59px;
    }
  }
}


/* General styles */

h2 {
  font-size: 24px;
  color: $black;
  padding-bottom: 8px;
  border-bottom: 1px solid #cdcdcd;
  margin: 40px 0;
}

#right_container {
  float: left;
  padding: 40px 0 80px;
  width: 100%;
  color: $grey-9;

  .container {
    margin-left: 300px;
  }
}

/* Sidebar */

nav {
  box-shadow: 2px 2px 2px 0px $black;
  -moz-box-shadow: 2px 2px 2px 0px $black;
  -webkit-box-shadow: 2px 2px 2px 0px $black;
  border-top: 1px solid $grey-9;
  border-left: 1px solid $grey-9;

  ul li {
    font-family: "ubuntu", sans-serif;

    a {
      padding: 10px 10px 12px 30px;
      background: #3d3d3d;
      color: $grey-5;
      font-size: 14px;
      font-weight: 300;

      &:hover {
        color: $white;
        background: $orange-1;
        -o-transition: all, .2s, ease;
        -webkit-transition: all, .2s, ease;
        -moz-transition: all, .2s, ease;
        transition: all, .2s, ease;
        text-decoration: none;
      }
    }

    &:first-child h3 a {
      border-radius: 3px 3px 0 0;
    }

    &:last-child h3 a {
      border-radius: 0 0 3px 3px;
    }

    > ul {
      background: #434343;
      box-shadow: inset 0px 1px 1px 0px $grey-10,
                  inset 0px -1px 1px 0 $grey-10;
      -moz-box-shadow: inset 0px 1px 1px 0px $grey-10,
                       inset 0px -1px 1px 0 $grey-10;;
      -webkit-box-shadow: inset 0px 1px 1px 0px $grey-10,
                          inset 0px -1px 1px 0 $grey-10;;

      li {
        padding: 12px 20px 0;

        &:last-child {
          padding-bottom: 12px;
        }

        a {
          background: inherit;

          &:hover {
            background: inherit;
            color: $orange-1;
          }
        }
      }
    }
  }
}

.sidebar-shell {
  background: $grey-10;
  width: 220px;
  float: left;
  margin-bottom: -19980px;
  margin-left: -100%;
  padding: 25px 20px 20000px;
  height: 100%;
  color: $white;

  .container {
    margin-left: 338px;
    padding: 20px;
  }

  ul {
    list-style-type: none;

    li {

    }
  }
}

.repo {

  p {
    margin-top: 70px;
    font-size: 13px;
    color: $grey-6;
    border-top: 1px solid #616161;
    border-bottom: 1px solid #616161;
    padding: 15px 0;
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

footer {
  margin-top: 50px;

  p {
    color: $grey-6;
    margin-bottom: 20px;
  }
}

/* Terminal */

pre.terminal {
  background: $grey-10;
  color: $white;
  font-size: 13px;
  line-height: 1.7;
}
