---
title: Guides
---

<div class="guides">
  <h1>Development Guides</h1>

  <p>
  This section of the documentation is created to help you find your way
  through to build successful applications using our API.
  </p>

  <p>
  Try the sections on the left for per section guides.
  </p>

  <p>
  New here? Read our <%= link_to 'Getting Started', '/guides/getting-started' %> guide.
  </p>

  <%= image_tag 'classroom.png', class: 'classroom' %>
</div>
