/* COLORS */
body {
  font-family: 'Verdana', sans-serif;
  background: #fbfbfb; }

p {
  color: #363636;
  font-size: 13px;
  line-height: 1.5; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

a {
  color: #f68b24; }
  a:hover {
    text-decoration: underline; }

.content {
  max-width: 1180px;
  width: 98%;
  margin: 0 auto; }

.cf:before, .cf:after {
  content: "";
  display: table; }
.cf:after {
  clear: both; }

.button {
  background: #f68b24;
  border-radius: 3px;
  padding: 8px 15px;
  color: white;
  text-decoration: none; }
  .button:hover {
    background: #d8731c;
    color: white;
    text-decoration: none; }

header {
  position: relative;
  padding-top: 13px;
  height: 37px;
  background: #474747;
  box-shadow: 0px 2px 4px 0 #363636;
  color: white; }
  header a {
    color: #fbfbfb;
    text-decoration: none;
    position: relative;
    padding-left: 120px;
    line-height: 29px;
    font-family: 'ubuntu', sans-serif;
    font-weight: 300;
    font-size: 18px;
    height: 29px; }
    header a:hover,
    header a a:visited {
      text-decoration: none;
      color: #fbfbfb; }
    header a:before {
      content: "";
      position: absolute;
      top: -2px;
      left: 0;
      width: 109px;
      height: 22px;
      background: url(../../images/logo3.png) no-repeat 0 -59px; }

#pattern {
  padding-top: 80px;
  height: 400px;
  background: url(../../images/pattern.jpg); }
  #pattern h2 {
    position: relative;
    color: white;
    font-family: 'ubuntu', sans-serif;
    font-size: 38px;
    font-weight: 300;
    width: 460px;
    line-height: 1.7; }
    #pattern h2:after {
      content: "";
      position: absolute;
      top: -25px;
      right: -580px;
      background: url(../../images/dev.png) no-repeat;
      width: 487px;
      height: 369px; }
  #pattern .button {
    display: inline-block;
    margin-top: 40px;
    font-size: 22px;
    padding: 20px 30px;
    font-family: 'ubuntu', sans-serif;
    font-weight: 300; }

#main .col {
  float: left;
  width: 343px;
  margin-right: 50px;
  padding-top: 215px;
  position: relative; }
  #main .col > a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2; }
  #main .col h3 {
    font-family: 'ubuntu', sans-serif;
    font-weight: 300;
    font-size: 28px;
    text-align: center;
    position: relative; }
    #main .col h3:before {
      content: "";
      position: absolute; }
  #main .col p {
    font-size: 16px;
    line-height: 1.6;
    margin-top: 35px; }
  #main .col.first h3:before {
    width: 171px;
    height: 147px;
    top: -170px;
    left: 85px;
    background: url(../../images/apps.png) no-repeat; }
  #main .col.second h3:before {
    width: 205px;
    height: 146px;
    top: -170px;
    left: 85px;
    background: url(../../images/manual.png) no-repeat; }
  #main .col.third h3:before {
    width: 75px;
    height: 178px;
    top: -215px;
    left: 142px;
    background: url(../../images/help.png) no-repeat; }

footer {
  clear: both;
  margin-top: 100px; }
  footer .content {
    border-top: 1px solid #dbdbdb;
    padding: 30px 0; }
  footer a {
    float: left;
    width: 200px;
    font-size: 12px;
    text-decoration: none; }
  footer p {
    float: right;
    width: 500px;
    text-align: right; }
