---
parent: apiv2
title: data_model
---

# Data Model <%= edit_link %>

<div class="alert alert-danger">
  <h5>Deprecated Resource</h5>
  <p>
    The API v2 is deprecated. If you wish to use our API please visit the
    <a href="/api/v3/">API v3</a>.
  </p>
</div>

<%= partial 'partials/toc' %>

## Category

<%= settings.site_name.capitalize %> consists of over 800 product categories.
Every product and SKU belongs to a leaf category, i.e. a category with no further
sub-categories.

There are two kinds of categories:

1. Categories with SKUs
2. Categories with unclassified products

##### Properties

* `id`
* `name`
* `children_count`
* `family_id`
* `family_name`
* `image_url`

## Product

A Product refers to a specific product of a shop. The <%= settings.site_name.capitalize %>
team classifies identical products within popular categories. That classification
is called an SKU.

##### Properties

* `id`
* `name`
* `imageurl`
* `pricevat`
* `click_url`
* `Category`
* `Manufacturer`
* `Shop`

## Sku

An SKU is a `generic product`, a group of identical products through different
shops. An SKU may have reviews or specifications, e.g. CPU for a laptop, or the
Diagonal Viewable Size for a T.V.

##### Properties

* `id`
* `price_min`
* `price_max`

`ean`
: Barcode

`pn`
: Part Number

* `reviewscore`
* `display_name`
* `plain_spec_summary`
* `Category`
* `ActiveProducts`
* `Reviews`
* `SkuSpecs`
* `SkuPictures`
* `MainPicture`

`Proposals`
: type Sku with fewer attrs


## SkuPicture

##### Properties

* `original_url`
* `tiny_url`
* `small_url`
* `medium_url`

## Reviews

##### Properties

* `created_on`
* `negative`
* `positives`
* `rating`
* `review`
* `User`
* `Sku`

## Specifications

##### Properties

* `name`
* `spec_value`
* `specification_name`
* `specification_group`

## Manufacturer

##### Properties

* `id`
* `name`
* `image_url`

## Shop

##### Properties

* `id`
* `name`
* `reviewscore`
* `reviews_count`
* `phone`
* `created_on`
* `communication_score`
* `orderflow_score`
* `completence_score`
* `rma_score`
* `feedback_score`

`image_url`
: The logo of the Shop. It might not exist.

* `thumbshot_url`
* `last_reviews_hash`
* `total_reviews_hash`
* `link`
* `info`
* `credit_card`
* `paypal`
* `bank`
* `reviewscore`
* `reviews_count`

`store_picking`
: Collect from store

`spot_cash`
: Cash on delivery

`spot_cash_cost`
: Cost for delivery

`spot_cash_info`
: Delivery information

`installments`
: Installments

`free_shipping`
: Shipping cost

`free_from`
: Minimum amount of money for free shipping

`free_from_info`
: Shipping information

`min_shipping`
: Minimum shipping costs

* `Locations`

`ApprovedShopReviews`
: type ShopReviews

## ShopReviews

##### Properties

* `review`
* `rating`
* `shop_reply`
* `created_on`

## Location

##### Properties

* `phone`
* `full_address`
* `latitude`
* `longitude`

## Book

An SKU that belongs to Books category is a Book.

##### Properties

* `id`
* `display_name`
* `title`
* `price_min`
* `price_max`
* `author_name`
* `main_dewey_id`
* `main_author_id`
* `picture_url`
* `Authors`
* `Deweys`
* `MainPicture`
* `ActiveProducts`
* `Reviews`

## User

##### Properties

* `username`
* `avatar_url`

## Bookmarklist

##### Properties

* `id`
* `name`
* `is_public`
* `Bookmarks`

## Bookmark

##### Properties

* `id`
* `resource_type` `Product`, `Sku`, `Book`
* `resource_id`
* `bookmarklist_id`

## SearchResults

The results of a given search keyword.

##### Properties

`id`
: Category code

`name`
: Category name

`children_count`
: Total sub-categories

`count`
: Total results in category
