<div id="js-sidebar" class="sidebar-shell">
<nav class="js-toggle-list sidebar-module expandable">
  <ul>
    <li class="js-topic">
      <h3><a href="<%= relative_path_to('/v3') %>">Overview</a></h3>
    </li>
    <li class="js-topic">
      <h3><a href="<%= relative_path_to('/v3/category/') %>">Category</a></h3>
    </li>
    <li class="js-topic">
      <h3><a href="<%= relative_path_to('/v3/sku/') %>">Sku</a></h3>
    </li>
    <li class="js-topic">
      <h3><a href="<%= relative_path_to('/v3/product/') %>">Product</a></h3>
    </li>
    <li class="js-topic">
      <h3><a href="<%= relative_path_to('/v3/shop/') %>">Shop</a></h3>
    </li>
    <li class="js-topic">
      <h3><a href="<%= relative_path_to('/v3/manufacturer/') %>">Manufacturer</a></h3>
    <li class="js-topic">
      <h3><a href="<%= relative_path_to('/v3/search/') %>">Search</a></h3>
    </li>
    </li>
    <li class="js-topic">
      <h3><a href="<%= relative_path_to('/v3/filter_groups/') %>">Filter Groups</a></h3>
    </li>
    <li class="js-topic user">
      <h3><a href="<%= relative_path_to('/v3/favorites/') %>">User Favorites</a></h3>
    </li>
    <li class="js-topic user">
      <h3>
        <a href="<%= relative_path_to('/v3/notifications/') %>">User Notifications</a>
      </h3>
    </li>
  </ul>

 </nav>
  <%= render '_footer' %>
  <%= render '_repo' %>
</div> <!-- /sidebar-module -->
