<div id="js-sidebar" class="sidebar-shell">
  <nav class="js-toggle-list sidebar-module expandable">

    <h3>
      <a href="<%= relative_path_to('/') %>">Home</a>
    </h3>

    <h2 class="guides">Development Guides</h2>

    <ul>
      <li class="js-topic">
        <h3>
          <a href="<%= relative_path_to('/guides/getting-started') %>">Getting Started</a>
        </h3>
      </li>
      <li class="js-topic">
        <h3>
          <a href="<%= relative_path_to('/guides/authentication') %>">Authentication</a>
        </h3>
      </li>
      <li class="js-topic">
        <h3>
          <a href="<%= relative_path_to('/authentication/permissions') %>">Permissions</a>
        </h3>
      </li>
    </ul>

    <h2 class="manual">API Manual</h2>

    <ul>
      <li class="js-topic">
        <h3>
          <a href="<%= relative_path_to('/v3/') %>">Overview</a>
        </h3>
      </li>
      <li class="js-topic">
        <h3>
          <a href="<%= relative_path_to('/v3/category/') %>">Category</a>
        </h3>
      </li>
      <li class="js-topic">
        <h3>
          <a href="<%= relative_path_to('/v3/sku/') %>">Sku</a>
        </h3>
      </li>
      <li class="js-topic">
        <h3>
          <a href="<%= relative_path_to('/v3/product/') %>">Product</a>
        </h3>
      </li>
      <li class="js-topic">
        <h3>
          <a href="<%= relative_path_to('/v3/shop/') %>">Shop</a>
        </h3>
      </li>
      <li class="js-topic">
        <h3>
          <a href="<%= relative_path_to('/v3/manufacturer/') %>">Manufacturer</a>
        </h3>
      <li class="js-topic">
        <h3>
          <a href="<%= relative_path_to('/v3/search/') %>">Search</a>
        </h3>
      </li>
      </li>
      <li class="js-topic">
        <h3>
          <a href="<%= relative_path_to('/v3/filter_groups/') %>">Filter Groups</a>
        </h3>
      </li>
      <li class="js-topic user">
        <h3>
          <a href="<%= relative_path_to('/v3/favorites/') %>">User Favorites</a>
        </h3>
      </li>
      <li class="js-topic user">
        <h3>
          <a href="<%= relative_path_to('/v3/notifications/') %>">User Notifications</a>
        </h3>
      </li>
    </ul>

    <h3>
      <a href="<%= relative_path_to('/help') %>">Help</a>
    </h3>

   </nav>

  <%= render '_footer' %>

</div> <!-- /sidebar-module -->
