// Back To Top
// --------------------------------------------------


#back-to-top {
  @include gradient-vertical(rgba($app-clr-white, 0.0), rgba($app-clr-white, 1.0), 0, 85%);
  display: none;
  position: fixed;
  right: 0;
  bottom: -1px;
  z-index: $app-zindex-backtotop;
  width: 75%;
  padding: 10px 0 5px;
  text-align: center;
  color: $app-clr-greyDark;
  border-radius: 0;

  i {
    font-size: 18px;
  }

  &:hover {
    color: $brand-primary;
    @include transition(all ease-in-out .125s);
  }

  @media (max-width: $screen-xs-max) {
    width: 100%;
  }
}
