// Back To Top
// --------------------------------------------------


#back-to-top {
  display: none;
  position: fixed;
  right: 1px;
  bottom: 2px; //$app-h-footer + (2 * $padding-base-horizontal);
  z-index: $app-zindex-backtotop;
  padding: 10px 9px;
  color: $app-clr-greyDark;
  border-radius: 0;
  //@include opacity(.4);
  //@include transition(opacity ease-out .35s);

  i {
    font-size: 18px;
  }

  &:hover {
    color: $brand-primary;
    border-color: $brand-primary;
    //@include opacity(1.0);
    @include transition(all ease-in-out .125s);
  }

  @media (max-width: $screen-xs-max) {
    width: 100%;
    left: 0;
    bottom: -1px;
    text-align: center;
    @include gradient-vertical(rgba($app-clr-white, 0.0), rgba($app-clr-white, 1.0), 0, 85%);

    &:hover {
      border-color: transparent;
    }
  }
}
