// Containers
// --------------------------------------------------


// Container :: Header
//
// Wrapper class to change between [fluid, fixed] width per page.
.container-header {
  @extend .container-fluid;
}


// Container :: Cover
//
// The main teaser block.
.container-cover {
  padding: 30px 0;

  .title {
    font-weight: 300;
    font-size: 2.5em;
    line-height: 1.5em;
    border: 0 none;

    @media (max-width: $screen-sm-max) {
      margin-top: 0;
      font-size: 2.0em;
      line-height: 1.33em;
    }
  }

  .btn {
    margin-top: 20px;
    padding-left: 60px;
    padding-right: 60px;

    @media (max-width: $screen-sm-max) {
      display: block;
      margin:20px auto 40px;
    }
  }

  &.cover-light {
    color: $app-clr-greyDark;
    background-image: image-url('pattern_light.jpg');
  }

  &.cover-dark {
    color: $app-clr-white;
    background-image: image-url('pattern_dark.jpg');
  }
}


// Container :: Featured List
//
// The featured items block.
.container-featured {
  margin-bottom: 20px;
  border-top: 3px solid lighten($app-clr-grey, 21%);
  border-bottom: 3px solid lighten($app-clr-grey, 21%);
  background-color: darken($app-clr-greyLight, 6%);

  a {
    display: block;
    padding: 15px 0;
    font-weight: 300;
    color: $app-clr-greyDark;

    i {
      @extend .fa;
      @extend .fa-3x;
      display: block;
      line-height: 1.5em;
      color: darken($app-clr-grey, 18%);
    }

    &:hover {
      color: $brand-primary;
      text-decoration: none;

      i {
        color: $brand-primary;
      }
    }
  }

  @media (max-width: $screen-sm-max) {
    padding: 5px 0;
    a {

      i {
        font-size: 1.5em;
      }
    }
  }
}


// Container :: Sidebar
//
// Wrapper class for Sidebar.
.container-sidebar {
  padding: 10px 15px;
}
