// Code Example blocks
// --------------------------------------------------


// Code Example
.example {
  @extend .panel;
  @extend .panel-default;
  @include border-top-radius($border-radius-base);
  @include border-bottom-radius($border-radius-base);
  position: relative;
  background-color: darken($pre-bg, 4%);

  pre {
    margin: 0;
    border: 0 none;
    border-radius: 0;
  }
}

// Code Example :: Request
.example {
  .request {
    margin: 0;
    font-family: $font-family-monospace;
    border-bottom: 1px solid $pre-border-color;

    .verb {
      display: inline-block;
      width: 55px;
      padding: 20px 10px 10px 5px;
      text-align: right;
      font-weight: 700;
    }

    .path {
      display: inline-block;
      padding: 20px 10px 10px;
      word-break: break-all;
      word-wrap: break-word;
      border-left: 1px solid $pre-border-color;

      @media (max-width: $screen-xs-max) {
        margin-left: -1px;
      }
    }
  }
}

// Code Example :: Request Description
.example {
  .request-description {
    @include box-shadow(0 1px 1px rgba(0,0,0,.05));
    padding: 10px;
    font-style: italic;
    background-color: lighten($pre-bg, 5%);
  }
}

// Code Example :: Toggle Buttons
.example {
  .toggler {
    @extend .btn;
    @extend .btn-xs;
    @extend .btn-primary;

    position: absolute;
    top: -1px;
    right: 8px;

    padding: 2px 10px;
    font-size: 12px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-width: 0;

    &:after {
      @extend .fa;
      display: none;
      content: $fa-var-angle-down;
    }

    &.open {
      &:after {
        @extend .fa;
        content: $fa-var-angle-up;
      }
    }
  }
}

// Code Example :: Response
.example {
  .response {
    display: none;

    .headers {
      font-weight: 700;
      background-color: $pre-bg;
      border-top: 1px solid darken($pre-bg, 12%);
      border-bottom: 1px solid darken($pre-bg, 12%);
    }

    pre {
      max-height: 500px;
      overflow: auto;
    }
  }
}
