// Sidebar
// --------------------------------------------------


@mixin offcanvas-in() {
  visibility: visible;
  left: 0;
  @include transition(all ease-in-out .25s);
}

@mixin offcanvas-out() {
  visibility: hidden;
  left: -$screen-xs-min/1.75;
  @include transition(all ease-in-out .125s);
}

// Sidebar :: Layout
#sidebar {
  position: fixed;
  top: $app-h-navbar + 3;
  bottom: 0;
  left: 0;
  z-index: $app-zindex-sidebar;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;

  @media (max-width: $screen-xs-max) {
    @include offcanvas-out();
    position: fixed;
    top: $app-h-navbar;
    bottom: 0;
    width: $screen-xs-min/1.75;
  }
}

// Sidebar :: Theme
.sidebar {
  padding: 0 0 50px;
  color: $app-clr-greyLight;
  background-color: darken($app-clr-greyDark, 8%);

  .heading {
    width: 90%;
    margin: 20px 0 5px;
    padding: 0 0 10px 10px;
    color: lighten($app-clr-greyDark, 40%);
    font-size: 0.85em;
    font-weight: 500;
    text-transform: none;

    i {
      @extend .fa;
      @extend .fa-prepend;
    }
  }
}

// Sidebar :: Brand - Logo
.sidebar {
  .navbar-brand {
    float: none;
    clear: both;
    display: block;
    height: auto;
    padding: 40px 20px 0;
    color: $app-clr-greyLight;
    font-size: .9em;
    text-align: center;
    background-position: center top;
    background-repeat: no-repeat;
  }
}

// Sidebar :: Locale Menu
.sidebar {
  .nav-lang {
    @extend .text-center;
    @extend .nav;
    @extend .visible-xs-block;

    list-style: none;
    float: none;
    margin-bottom: 20px;

    li {
      display: inline-block;
      border-width: 0;

      &:first-child {
        a {
          border-left-width: 0;
        }
      }

      > a {
        padding-left: 20px;
        padding-right: 20px;
        font-size: .9em;
        text-transform: uppercase;
        color: $app-clr-greyLight;
        border-left: 1px solid rgba($app-clr-greyLight, 0.15);

        &:hover {
          background-color: $brand-primary;
        }
      }

      &.active a {
        color: darken($brand-primary, 6%);

        &:hover,
        &:focus {
          color: $app-clr-greyLight;
          background-color: $brand-primary;
        }
      }

      .lang-code {
        display: block;
        text-transform: uppercase;
      }

      .lang-name {
        display: none;
      }
    }
  }
}

// Sidebar :: Forms :: Search
.sidebar {
  .navbar-form.navbar-right {
    float: none !important;
    clear: both;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0 none;
    box-shadow: 0 0 0 transparent;

    &:before {
      left: 10px;
      top: 8px;
    }

    .st-search {
      width: 100%;
      margin: 0 auto;
      font-size: 14px;
    }
  }
}

// Sidebar :: Main
.nav-sidebar {
  @include box-shadow(2px 2px 2px rgba(0,0,0,.25));
  margin-bottom: 25px;
  background-color: darken($app-clr-greyDark, 2%);
  border-top: 1px solid lighten($app-clr-greyDark, 2%);
  border-left: 1px solid lighten($app-clr-greyDark, 2%);
  border-radius: $border-radius-base;
  color: $app-clr-white;
  font-family: $app-font-ubuntu;

  li {
    border-bottom: 1px solid lighten($app-clr-greyDark, 1%);

    &:first-child > a {
      @include border-top-radius($border-radius-base);
    }

    &:last-child {
      border-bottom: 0 none;

      > a {
        @include border-bottom-radius($border-radius-base);
      }
    }

    a {
      font-size: .85em;
      color: $app-clr-greyLight;

      &:hover {
        background-color: $brand-primary;
      }

      &.active {
        color: $brand-primary;
      }
      &.active:hover {
        color: $app-clr-greyLight;
      }
    }

    .label {
      font-size: 12px;
      font-family: $font-family-monospace;
      font-weight: 300;
      vertical-align: middle;
    }
  }
}

// Sidebar :: Sub-Menu
.nav-menu-sidebar {
  @include box-shadow(inset 0 3px 2px rgba(0,0,0,.35));
  background-color: lighten($app-clr-greyDark, 6%);

  a {
    display: block;
    padding: 8px 8px 8px 40px;
    font-size: .9em;
    color: $app-clr-greyLight;
    text-decoration: none;
    border-radius: 0;

    &:hover {
      background-color: $brand-primary;
    }
  }
}

// Sidebar :: Footer
.sidebar {

  footer {
    margin-top: 40px;
    position: relative;
    padding: 20px 0;
    font-family: $app-font-open;
    text-align: left;
    color: lighten($app-clr-greyDark, 40%);
    border-top: 1px solid $app-clr-greyDark;
    border-bottom: 1px solid $app-clr-greyDark;

    span {
      display: block;
      font-weight: 400;
      margin-bottom: 3px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .container {
      width: 100%;
    }

    .row {
      div {
        @extend .text-center;
        left: 0;
        width: 100%;
        margin-top: 3px;
      }
    }
  }
}

// Sidebar :: Off-Canvas Button
//
// Actually this one exists within Header.
.offcanvas-toggle {
  position: fixed;
  top: 1px;
  left: 1px;
  z-index: 999;
  padding: 12px 15px 8px;
  border: 1px solid transparent;

  i {
    @extend .fa;
    font-size: 20px;
    color: $app-clr-greyLight;
  }

  &:hover {
    color: $brand-primary;
    border-color: $brand-primary;
    @include transition(all ease-in-out .125s);
  }

  @media (min-width: $screen-sm-min) {
    display: none;
  }
}

// Sidebar :: Animate Show/Hide
#sidebar {
  &.in {
    @include offcanvas-in();
  }

  &.out {
    @include offcanvas-out();
  }
}
