@import 'variables';
@import 'bootstrap/mixins';


//** Table of Contents
#markdown-toc {
  list-style: none;
  display: block;
  margin-bottom: 20px;
  padding-left: 15px;

  li {
    padding: 3px 0;

    @media (max-width: $screen-sm-max) {
      padding: 6px 0;
    }
  }

  a {
    color: $app-clr-greyDark;
    text-decoration: none;

    &:before {
      @extend .fa;
      @extend .fa-angle-right;
      content: $fa-var-angle-right;
      padding-right: 10px;
      color: $app-clr-greyDark;
    }

    &:hover {
      color: $brand-primary;
    }
  }
}
