// Table of Contents
// --------------------------------------------------


// Table of Contents
#markdown-toc {
  list-style: none;
  display: block;
  margin-top: 0 !important;
  margin-bottom: 20px;
  padding-left: 15px;

  li {
    padding: 3px 0;

    &:before {
      @extend .fa;
      content: $fa-var-angle-right !important;
      padding-right: 10px;
      color: $app-clr-greyDark;
    }

    @media (max-width: $screen-sm-max) {
      padding: 6px 0;
    }
  }

  a {
    color: $app-clr-greyDark;
    text-decoration: none;

    &:hover {
      color: $brand-primary;
    }
  }
}
