<div id="js-sidebar" class="sidebar-shell">
  <nav class="js-toggle-list sidebar-module expandable">

    <h2 class="manual">Analytics Manual</h2>

    <ul>
      <li class="js-topic">
        <h3>
          <%= link_to('Overview', '/analytics') %>
        </h3>
      </li>
    </ul>

    <h3>
      <%= link_to('Help', '/help') %>
    </h3>
   </nav>
  <%= partial'partials/_footer' %>
</div> <!-- /sidebar-module -->
