<div id="js-sidebar" class="sidebar-shell">
<nav class="js-toggle-list sidebar-module expandable">
  <ul>
    <li class="js-topic">
      <h3>
        <%= link_to('Getting Started', '/guides/getting-started') %>
      </h3>
    </li>
    <li class="js-topic">
      <h3>
        <%= link_to('Authentication', '/guides/authentication') %>
      </h3>
    </li>
  </ul>

  <h3>
    <%= link_to('Help', '/help') %>
  </h3>

 </nav>
  <%= partial'partials/_footer' %>
</div> <!-- /sidebar-module -->
