<div id="js-sidebar" class="sidebar-shell">
<nav class="js-toggle-list sidebar-module expandable">
  <h3>
    <%= link_to('Help', '/help') %>
  </h3>
 </nav>
  <%= partial'partials/_footer' %>
</div> <!-- /sidebar-module -->
