/* COLORS */

$white: #fff;

$grey-1: #fbfbfb;
$grey-2: #f9f9f9;
$grey-3: #ebebec;
$grey-4: #e1e1e1;
$grey-5: #dbdbdb;
$grey-6: #b8b8b8;
$grey-7: #999;
$grey-8: #666;
$grey-9: #474747;
$grey-10: #363636;

$black: #282828;

$orange-1: #f68b24;
$orange-2: #d8731c;

$red-1: #f7e9e6;
$red-2: #ecbeb6;
$red-3: #b65553;
$red-4: #f05d43;
$red-5: #c13d28;

$blue-1: #e7eef6;
$blue-2: #cedbeb;
$blue-3: #4090ba;
$blue-4: #317ea6;

$green-1: #9dd244;
$green-2: #1dd482;
$green-3: #468847;

$border: $grey-5;
