---
title: Help | Skroutz API
---

<h1>Help</h1>

## Frequently asked questions

<ol>
  <li>
    <p class="question">How to i obtain OAuth credentials?</p>
    <p class="answer">Send <a href="mailto:api@skroutz.gr">us</a> an email.</p>
  </li>
  <li>
    <p class="question">How do i access X resource?</p>
    <p class="answer">Read our <%= link_to 'API documentation', '/api/v3' %>
thoroughly, if you can't find what you want it may be due to missing documentation or it may something we've decided not to expose.</p>
  </li>
  <li>
    <p class="question">I found a typo in the documentation what do i do?</p>
    <p class="answer">
      This website is a <a href="https://github.com/skroutz/developer.skroutz.gr">public Github repository</a>. 
      Fix it and submit a pull request.
    </p>
  </li>
  <li>
    <p class="question">Where can i find documentation on version 2?</p>
    <p class="answer">
      <a href="http://docs.skroutz.gr/apiv2">http://docs.skroutz.gr/apiv2</a>. 
    </p>
  </li>
</ol>

##Support


<p>
  Have a question? Create an issue at 
  <a href="https://github.com/skroutz/developer.skroutz.gr/issue">Github
issue tracker</a>.
</p>
<p>
  Have something sensitive to report (eg security vulnerability)? Send us
  <a href="mailto:api@skroutz.gr">an email</a>.
</p>
