// Skroutz flavor CSS
// --------------------------------------------------

// Navbar :: Brand - Logo
.navbar {
  .navbar-header {
    .navbar-brand {
      padding-left: 145px;
      background-image: image-url('skroutz/sprites.png');

      @media
      (-webkit-min-device-pixel-ratio: 1.25),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
        background-image: image-url('skroutz/sprites_x2.png');
      }
    }
  }
}
